<table id="table1" class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Index</th>
    <th scope="col">Intake intervals</th>
    <th scope="col">Period</th>
    <th scope="col">Medication</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medicationPlan of medicationPlans; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ medicationPlan.intakeIntervals}}</td>
    <td>{{ medicationPlan.period}}</td>
    <td>
      <table id="table2" class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Name</th>
          <th scope="col">Side effects</th>
          <th scope="col">Dosage</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medication of medicationPlan.medication; index as j">
          <th scope="row">{{ j + 1 }}</th>
          <td>{{ medication.name}}</td>
          <td>{{ medication.sideEffects}}</td>
          <td>{{ medication.dosage}}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
